# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you"ll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you"re sharing your code publicly.

development:
  secret_key_base: 6d1dd234d966b0bf45e650519f1e606062b497a0f7ba1cc6a05ac2f892ad87f17dbfe73e2877f32c6d7ae57831e0ea066b15f0303e1b66f49813ccc7cea6e8ed

test:
  secret_key_base: b848e58c98600f5fe520dd56e5377070493465775ac2b2f5edd588d9fa7c01ce9e574a681f1c67747ff99e645ce367a99cbabd169f01580ebd0700dda996fca0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
